#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
   font-family: Roboto;
   color: #FF9400;
   margin: 2rem 0;
   font-size: 2.5rem;
   text-align: center;

}

img{
    height: 20vh;
    margin: 2rem 0;
}

p{
    font-family: 'Playfair Display', 'sans-serif';
    color: #4B4444;
    font-size: 1.3rem;
    margin: 2px;
    padding: 2px;
    text-align: center;
}

#text-container{
    max-width: 80%;
}

strong{
    font-family: 'sans-serif';
}

@media(max-width:415px) {
    h1 {
        font-size: 2.2rem;
    }
    p {
        font-size: 1.3rem;
    }
}

@media(max-width:415px) {
    h1 {
        font-size: 2.1rem;
    }
    p {
        font-size: 1.1rem;
    }
}