@media(max-width: 340px) {
    header h1 {
    font-size: 1.6rem;
    }
}

@media(max-width: 520px) {
    header h1 {
    font-size: 1.8rem;
    }
}

@media(min-width:490px){
    #catch-phrase-title h2:first-child {
        font-size: 1.7rem;
    }
    
    #catch-phrase-title h2:last-child {
        font-size: 1.3rem;
    }
}

@media(max-width:515px){
    footer{
        font-size: 12px;
    }
    #instagram-logo #facebook-logo{
        width: 20px;
        height: 20px;
    }
}

@media(max-width:570px){
    #content img {
        width: 80%;
        height: auto;
    }
    #border {
        display: none;
    }
    header {
        padding-bottom: 10px;
    }
}

@media(max-width:610px){
    #catch-phrase-container h2{
        font-size: 1.3rem;
    }
}

@media(max-width:830px){
    #jessica-logo{
        display: none;
    }
}


@media(max-width:1000px) {
    #content{
        flex-wrap: wrap;
    }

    #right-content {
        width: 520px;
        height: auto;
        border-radius: 0;
        padding: 5% 5%;
    }

    #content img{
        width: 80%;
        height: auto;
    }

    #right-content {
        width: 80%;
    }

    #catch-phrase-container{
        margin: 2rem 15px;  
    }

    .description {
        font-size: 1.1rem;
    }
}

@media(min-width:1000px) {
    #content {
        min-height: 420px;
    }
}

@media(max-height:830px) {
    #responsive-text {
        display: none;
    }
}