<style>
    #container {
        justify-content: center;
        align-items: center;
        display: flex;
        display: 1;

    }

    #card {
        max-width: 600px;
    }
    
    header {
        background: #963BA0;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        margin-bottom: 20px;
    }

    #content {
        padding: 10px;
    }

    h2 {
        font-family: Helvetica;
    }

    p {
        font-family: Helvetica;
    }

    .title {
        font-family: Helvetica;
        font-size: 20px;
    }

    #social-media {
        display: flex;
        flex-direction: row;
    }

    .icon {
        align-self: center;
        margin-right: 50px;
    }
</style>

<div id="container">
    <div id="card">
        <header>
            <h2>Seu pedido foi recebido!</h2>
        </header>
        <div id="content">
            <label><strong class="title">Ooi, tudo bem?</strong></label>

            <p>Acabei de receber o seu pedido, obrigada!</p>
            <p>Assim que o pagamento for feito e confirmado você receberá um email com o link para o seu ebook!</p>
            <p>Qualquer problema ou dúvida é só me contatar pelas redes abaixo ou responder esse email :)</p>

            <div id="social-media">
                <a class="icon" href="https://www.instagram.com/jessicachaves_nutri/">
                    <img width="40" height="40"  style="margin-top: 5px;" src="../images/instagram-logo-color.png" />
                </a>

                <a class="icon" href="https://wa.me/552165412338">
                    <img width="50" height="50"  src="../images/whatsapp-logo.png" />  
                </a>
            </div>

        </div>
    </div>

</div>